* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	font-family: ubuntu;
	z-index: 1;
	width: 100%;
	height: 100vh;
	/* background-size: 400% 400%;
	background: linear-gradient(-45deg, rgb(235, 112, 110), rgb(231, 82, 181), rgb(26, 132, 219), rgb(135, 17, 198));
	animation: animate 15s ease infinite;
	background-attachment: fixed; */
	background-image: url('../img/daon.jpg');
}

nav{
	background-color: transparent;
	padding:5px 20px;
	transition: 0.5s;
	


}
nav.sticky{
	color: #000;
	background: rgba(255, 255,255,0.2);
	backdrop-filter: blur(5px);
	padding:0px 20px;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100%;
}

ul {
	justify-content: center;
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-size: 20px;
	padding: 5px 25px;
}

a:hover {
	background: #000;
	color: #fff;
}
.menu li {
	font-size: 20px;
	padding: 10px 5px;

}
.menu li a{
	display: block;
}

.logo a{
	font-weight: bold;
	font-size:25px;
	padding-top: 7px;
	margin-left: 5px;
}
.logo a:hover{
	background: transparent;
	color:rgb(231, 82, 181);
}
.button.secondary{
	border-bottom: #fff solid;
}
/*mobile*/
.menu{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	padding: auto;
	/* z-index: 9999; */

}
.toggle{
	order: 1;
	padding-bottom: 20px;
}
.items{
	width: 100%;
	text-align: center;
	order: 3;
	display: none;


}
.items.activ{
	display: block;
}


.toggle{
	cursor: pointer;
}
.toggle a:hover{
	background: transparent;
}
.bars{
	background: #000;
	display: inline-block;
	height: 2px;
	position: relative;
	width: 18px;
	margin-bottom: 6px;
	margin-right: 30px;

}
.bars::before,.bars::after{
	background: #000;
	content: "";
	display: inline-block;
	height: 2px;
	position: absolute;
	width: 18px;
}
.bars::before{
	top: 5px;
}
.bars::after{
	top: -5px;
}
@media (max-width:767px){
	
	.cards{
	margin-top: auto;
	margin-bottom: auto;
	
	}
	/* .cards img{
		padding-right: 50px;
		height: 50%;
	} */

}

@media (min-width:768px) {
	.items{
		display: block;
		width: auto;
	}
	.toggle{
		display: none;
	}
	.logo{
		order:0;
	}
	.items{
		order: 1;
	}
	.menu li{
		padding: 15px 10px;
	}
	
}

/*card nya*/

.container{
	width: 100%;
	height: 100vh;
	background: transparent;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	transform-style: preserve-3d;
}
.cards{
	width: 50%;
	max-width: 340px;
	color: #fff;
	text-align: center;
	padding: 50px 35px;
	border: 1px solid rgba(255, 255,255,0.3);
	background: rgba(255, 255,255,0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	position: relative;
	animation: animate 2s alternate infinite;
	height: auto;
}
.card{
	color: #fff;
	border: 1px solid rgba(255, 255,255,0.3);
	background: rgba(255, 255,255,0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
}
/* .cards img{
	width: 200px;
	border-radius: 30%;
} */
@keyframes animate{
	from{
		bottom: 0;
	}
	to{
		bottom: 640px;
	}
}
.cards h2{
	font-size: 30px;
	font-weight: 600;
	margin-top:3px;
	transform-style: preserve-3d;
	transform: translateZ(40px);
}
.cards p{
	font-size: 18px;
	margin: 10px auto;
	max-width: 330;
	transform-style: preserve-3d;
	transform: translateZ(40px);
}
.cards .link a{
	width: 40px;
	border-radius: 50%;
	margin: 10px 5px;
	padding: 25px 15px;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translateZ(40px);
	
}
.cards .link a:hover{
	background-color: transparent;
}
.about-sec, .portfolio-sec{
	height: 100vh;
	display: flex;
	align-items: center;
}
.about-sec{
	background-color: black;
}
/* .box{
	padding: 0;
	margin: 0;
} */
.jumbotron{
	padding-top: none;
	margin-top: none;
	background-attachment: fixed;
	overflow: hidden;
	background-color: transparent;
}
.img-thumbnail{
	background-color: transparent;
	border: none;
	padding-left: 30%;
	padding-bottom: 50%;
}

.section {
	overflow: hidden;
  }

.revealUp {
opacity: 0;
visibility: hidden;
}

.teks-box{
	animation: slide-up 1.5s;
}
.link{
	padding-top: 10%;
	padding-left:42.5%;
}
.link a{
	width: 40px;
	border-radius: 50%;
	margin: 10px 5px;
	padding: 25px 15px;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translateZ(40px);
}
.link a:hover{
	background-color: transparent;
	color: rgb(231, 82, 181);
}

@keyframes slide-up{
	from{
		opacity: 0.2;
		line-height: 500px;
	}
	to{
		opacity: 1;
		line-height: 60px;
	}
}
@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
